* {
  /* this applys to every aspect in html file  */
  margin: 0px;
  padding: 0px;
  user-select: none;
  /* color: white; */
  /* this says padding and border are included */
  box-sizing: border-box;
  /* color: white; */
  font-family: "Open Sans", sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  /* pointer-events: none; */
}
.header {
  flex: 9.5;
  display: flex;
  justify-content: center;
  color: black;
  font-size: 55px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  /* border-radius: 10px; */
  text-decoration: none;
  /* background-color: rgb(231, 155, 125); */
  /* opacity: 1.5; */
}
.navibar {
  background-color: #1e1e1e;
  height: 100%;
  /* border-radius: 20px; */
}
.sidebar {
  left: -30vw;
  /* display: none; */
  background-color: #1e1e1e;
  top: 0%;
  /* border-radius: 40px; */
  position: fixed;
  bottom: 120px;
  color: white;
  margin-top: 0px;
  margin-left: 0px;
  width: 20vw;
  height: 100%;
  /* overflow: auto; */
  transition: all 0.3s ease-in-out;
  transition-property: left;
  /* transform: translateY(20vw); */
  overflow-y: scroll;
  z-index: 8;
}
.title {
  font-family: "Open Sans", sans-serif;
}
.sidebar,
.text a {
  color: white;
  font-size: 4vmin;
  font-family: "Open Sans", sans-serif;
  font-weight: 300px;
  /* stays hat must be distance between lines */
  line-height: 50px;
  text-align: left;
}
.text a {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  background-color: #1e1e1e;
  text-align: center;
  font-weight: 500;
  color: white;
  font-size: 4vmin;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
}
nav ul {
  /* background-color: #1e1e1e; */
  height: 100%;
  width: 100%;
  /* mtlb ye square shaped m rhegi */
  list-style: square;
}
nav ul li {
  /* ye nav k ul li p apply hoga  */
  color: white;
  line-height: 60px;
  border-bottom: 5px solid darkslategray;
  /* border-left :2px solid transparent; */
  /* width: 100%; */
}
nav ul li a {
  /* ye nav k ul li k a p apply hoga  */
  /* inki posi bhe apne purane elements k relative hongi  */
  color: white;
  position: relative;
  flex-direction: left;
  font-size: 2.5vmin;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  display: block;
  /* removing base lines */
  text-decoration: none;
  /* width: 100%; */
  margin-left: 0px;
  padding-left: 5px;
  border-left: 4px solid transparent;
  transition: all 0.3s ease-in-out;
}
nav ul li a:hover {
  color: darkcyan;
  /* font-size: 25px; */
  background-color: #1e1e1e;
  border-left-color: cyan;
}

#menu1 {
  /* position: relative; */
  flex: 0.5;
  /* bottom: 60px; */
  background-color: transparent;
  border: none;
  height: 60px;
  width: 20px;
  /* user-select: none; */
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  /* background-color: lightsalmon; */
}

.covidicon {
  margin-right: 5px;
}
.body1 {
  margin-top: 8%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
nav ul ul li {
  line-height: 40px;
  border-bottom: none;
}
nav ul ul li a {
  /* for inside elements */
  color: white;
  padding-left: 17%;
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
}
nav ul ul {
  /* position: relative; */
  height: 13vh;
  transition: all 0.4s ease-in-out;
  display: none;
  /* right: 20vw; */
}
nav ul ul li {
  border-bottom: 4px solid darkslategray;
}
nav ul li a span {
  /* purane ki posi unke khud k old posi k relative thi or nayi unko parent manti h to vo khud parent ban jayenge */
  /* parent can be accordi */
  position: absolute;
  right: 30px;
  transition: all 0.3s ease-in-out;
}
nav ul li a:hover span {
  color: darkcyan;
  transform: rotate(360deg);
}
#menu1:hover {
  transform: scale(1.1);
}
.parent {
  /* border-bottom: 3px solid black; */
  top: 0;
  width: 100%;
  height: 10vh;
  position: fixed;
  display: flex;
  flex-direction: row;
  background-color: white;
  z-index: 3;
}
#closingsidebar a {
  color: white;
  text-decoration: none;
}
.infobtns1 {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  top: 13vh;
  right: 0vw;
  /* align-items: flex-end; */
  margin-bottom: 1%;
  margin: auto;
  /* right: 25vw; */
  height: 20%;
  width: 90%;
  padding-bottom: 2vh;
  /* z-index: -1; */
  /* background-color: white; */
  /* border-bottom: 2px solid slategrey; */
}
.tweets {
  color: black;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 3vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-right: 1%; */
  text-decoration: none;
  height: 6vh;
  width: 17vw;
  /* border: 2px solid black; */
  transition: all 0.2s ease-in-out;
  border-bottom: 5px solid darkcyan;
}
.personaldata {
  color: black;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 3vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-left: 1%; */
  text-decoration: none;
  height: 6vh;
  width: 17vw;
  /* border: 2px solid black; */
  transition: all 0.2s ease-in-out;
}
.tweets:hover,
.tweets:active {
  /* border-bottom: 5px solid darkcyan;
  border-style: bolder;  */
  background-color: rgb(185, 253, 253);
  box-shadow: 0 0 15px cyan;
}
.personaldata:hover,
.personaldata:active {
  /* border-bottom: 5px solid darkcyan;
  border-style: bolder; */
  background-color: rgb(185, 253, 253);
  box-shadow: 0 0 15px cyan;
}
.displayinformation {
  position: relative;
  /* border: 2px solid black; */
  width: 60%;
  height: 90vh;
  top: 15vh;
  /* left: -80%; */
  margin: auto;
  /* z-index: -1; */
  /* right: 5vw; */
  /* background-color: blue; */
}
.bigdabba {
  display: flex;
}
.tweet {
  padding: 2vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 2px solid rgb(134, 128, 128);
  width: 100%;
  /* height: 30%; */
}
.contactdetails {
  margin-top: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: center;
  font-size: 2.7vmin;
  font-weight: 700;
  width: 95%;
  height: 25%;
  /* border: 2px solid black; */
}
.tweetinfo {
  font-size: 2.4vmin;
  width: 100%;
  /* height: 75%; */
  /* border: 2px solid black; */
}
.detailsdisplay {
  color: black;
  cursor: pointer;
  font-size: 3vmin;
  font-weight: 800;
  transition: all 0.3s ease-in-out;
  /* border: 2px solid black; */
}
.detailsdisplay:hover {
  border-bottom: 3px solid darkcyan;
  box-shadow: 0 0 15px cyan;
  background-color: rgb(185, 253, 253);
}
.sharinginfo {
  margin-left: auto;
}
#whatsapp,
#facebook {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
#whatsapp:hover,
#whatsapp:active,
#facebook:hover,
#facebook:active {
  transform: scale(1.1);
  color: cyan;
  box-shadow: 0 0 15px darkcyan;
}
#scrolltotop1 {
  position: fixed;
  right: 4vw;
  bottom: 9vh;
  font-size: 3vmin;
  font-weight: 900;
}
#scrolltotop1:hover,
#scrolltotop1:active {
  border-bottom: 3px solid darkcyan;
  box-shadow: 0 0 15px cyan;
  background-color: rgb(185, 253, 253);
}
.displayinformation0 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.subtweetname {
  color: darkcyan;
  margin-right: auto;
  margin-bottom: 1vh;
  font-size: 3vmin;
  font-weight: 600;
}
#overlay {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  z-index: 0;
}
.loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  background-color: rgba(25, 31, 38, 255);
  color: white;
}
.disappear {
  animation: vanish 1s forwards;
}
.popups {
  position: fixed;
  top: 0vh;
  width: 40vw;
  height: 50vh;
  border: 2px solid black;
}
@keyframes vanish {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
.displayinformation1 {
  border: 2px solid black;
  position: relative;
  /* border: 2px solid black; */
  width: 60%;
  /* height: 90vh; */
  top: 15vh;
  left: -25%;
  margin: auto;
}
@media (max-width: 600px) {
  * {
    /* this applys to every aspect in html file  */
    margin: 0px;
    padding: 0px;
    user-select: none;
    /* color: white; */
    /* this says padding and border are included */
    box-sizing: border-box;
    /* color: white; */
    font-family: "Open Sans", sans-serif;
  }
  body {
    z-index: -1.5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
  }
  .header {
    flex: 9.5;
    display: flex;
    justify-content: center;
    color: black;
    font-size: 8vmin;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
    /* border-radius: 10px; */
    text-decoration: none;
    /* background-color: rgb(231, 155, 125); */
    opacity: 1.5;
  }
  .navibar {
    background-color: #1e1e1e;
    height: 100%;
    /* border-radius: 20px; */
  }
  .sidebar {
    left: -50vw;
    /* display: none; */
    background-color: #1e1e1e;
    top: 0%;
    /* border-radius: 40px; */
    position: fixed;
    bottom: 120px;
    color: white;
    margin-top: 0px;
    margin-left: 0px;
    width: 45vw;
    height: 100%;
    /* overflow: auto; */
    transition: all 0.3s ease-in-out;
    transition-property: left;
    /* transform: translateY(20vw); */
    overflow-y: scroll;
    z-index: 8;
  }
  .title {
    font-family: "Open Sans", sans-serif;
  }
  #favicon1 {
    height: 6vh;
    width: 9vw;
  }
  .sidebar,
  .text a {
    color: white;
    font-size: 4vmin;
    font-family: "Open Sans", sans-serif;
    font-weight: 300px;
    /* stays hat must be distance between lines */
    line-height: 50px;
    text-align: left;
  }
  .text a {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    background-color: #1e1e1e;
    text-align: center;
    font-weight: 500;
    color: white;
    font-size: 4vmin;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
  }
  nav ul {
    /* background-color: #1e1e1e; */
    height: 100%;
    width: 100%;
    /* mtlb ye square shaped m rhegi */
    list-style: square;
  }
  nav ul li {
    /* ye nav k ul li p apply hoga  */
    color: white;
    line-height: 60px;
    border-bottom: 5px solid darkslategray;
    /* border-left :2px solid transparent; */
    /* width: 100%; */
  }
  nav ul li a {
    /* ye nav k ul li k a p apply hoga  */
    /* inki posi bhe apne purane elements k relative hongi  */
    color: white;
    position: relative;
    flex-direction: left;
    font-size: 3vmin;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    display: block;
    /* removing base lines */
    text-decoration: none;
    /* width: 100%; */
    margin-left: 0px;
    padding-left: 5px;
    border-left: 4px solid transparent;
    transition: all 0.3s ease-in-out;
  }
  nav ul li a:hover {
    /* pointer-events: none; */
    color: darkcyan;
    /* font-size: 25px; */
    background-color: #1e1e1e;
    border-left-color: cyan;
  }
  #menu1 i {
    margin: 2vmin;
    font-size: 7.5vmin;
  }
  #favicon1{
    height: 6vh;
    width: 9vw;
  }
  #menu1 {
    /* position: relative; */
    flex: 0.5;
    /* bottom: 60px; */
    background-color: transparent;
    border: none;
    height: 5vh;
    width: 9vw;
    margin-top: 1vmin;
    /* user-select: none; */
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    /* background-color: lightsalmon; */
  }
  .covidicon {
    margin-right: 5px;
  }
  .body1 {
    margin-top: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  nav ul ul li {
    line-height: 40px;
    border-bottom: none;
  }
  nav ul ul li a {
    /* for inside elements */
    color: white;
    padding-left: 17%;
    font-size: 3vmin;
    font-family: "Open Sans", sans-serif;
  }
  nav ul ul {
    /* position: relative; */
    height: 13vh;
    transition: all 0.4s ease-in-out;
    display: none;
    /* right: 20vw; */
  }
  nav ul ul li {
    border-bottom: 4px solid darkslategray;
  }
  nav ul li a span {
    /* purane ki posi unke khud k old posi k relative thi or nayi unko parent manti h to vo khud parent ban jayenge */
    /* parent can be accordi */
    position: absolute;
    right: 30px;
    transition: all 0.3s ease-in-out;
  }
  nav ul li a:hover span {
    /* pointer-events: none; */
    color: darkcyan;
    transform: rotate(360deg);
  }
  #menu1:hover {
    transform: scale(1.1);
  }
  .parent {
    /* border-bottom: 3px solid black; */
    top: 0;
    width: 100%;
    height: 10vh;
    position: fixed;
    display: flex;
    flex-direction: row;
    background-color: white;
    z-index: 3;
  }
  #closingsidebar a {
    color: white;
    text-decoration: none;
  }
  .infobtns1 {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    top: 10vh;
    right: 0vw;
    /* align-items: flex-end; */
    margin-bottom: 1%;
    margin: auto;
    /* right: 25vw; */
    height: 8vh;
    width: 90%;
    padding-bottom: 2vh;
    /* z-index: -1; */
    /* background-color: white; */
    /* border-bottom: 2px solid slategrey; */
  }
  .tweets {
    color: black;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 4vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-right: 1%; */
    text-decoration: none;
    height: 100%;
    width: 22vw;
    /* border: 2px solid black; */
    transition: all 0.2s ease-in-out;
    border-bottom: 5px solid darkcyan;
    /* pointer-events: none; */
  }
  .personaldata {
    color: black;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 4vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-left: 1%; */
    text-decoration: none;
    height: 100%;
    width: 22vw;
    /* border: 2px solid black; */
    transition: all 0.2s ease-in-out;
  }
  .tweets:hover {
    /* border-bottom: 5px solid darkcyan;
    border-style: bolder;  */
    pointer-events: none;
    background-color: rgb(185, 253, 253);
    box-shadow: 0 0 15px cyan;
  }
  .personaldata:hover {
    /* border-bottom: 5px solid darkcyan;
    border-style: bolder; */
    background-color: rgb(185, 253, 253);
    box-shadow: 0 0 15px cyan;
    pointer-events: none;
  }
  .displayinformation {
    position: relative;
    /* border: 2px solid black; */
    width: 100%;
    /* height: 90vh; */
    top: 15vh;
    /* left: -80%; */
    margin: auto;
    /* z-index: -1; */
    /* right: 5vw; */
    /* background-color: blue; */
  }
  .bigdabba {
    display: flex;
  }
  .tweet {
    padding: 3vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 2px solid rgb(134, 128, 128);
    width: 100%;
    /* height: 30%; */
  }
  .contactdetails {
    margin-top: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: center;
    font-size: 2.7vmin;
    font-weight: 700;
    width: 95%;
    height: 25%;
    /* border: 2px solid black; */
  }
  .tweetinfo {
    font-size: 4vmin;
    width: 100%;
    /* height: 75%; */
    /* border: 2px solid black; */
  }
  .detailsdisplay {
    color: black;
    cursor: pointer;
    font-size: 3.5vmin;
    font-weight: 800;
    transition: all 0.3s ease-in-out;
    /* border: 2px solid black; */
  }
  .detailsdisplay:hover {
    border-bottom: 3px solid darkcyan;
    box-shadow: 0 0 15px cyan;
    background-color: rgb(185, 253, 253);
    pointer-events: none;
  }
  .sharinginfo {
    margin-left: auto;
  }
  #whatsapp,
  #facebook {
    cursor: pointer;
    /* font-size: 4vmin; */
    transition: all 0.3s ease-in-out;
  }
  #whatsapp:hover,
  #facebook:hover {
    pointer-events: none;
    transform: scale(1.1);
    color: cyan;
    box-shadow: 0 0 15px darkcyan;
  }
  #scrolltotop1 {
    display: none;
    position: relative;
    top: 1.4vh;
    /* right: 4vw; */
    /* bottom: 9vh; */
    font-size: 4vmin;
    font-weight: 900;
  }
  #scrolltotop1:hover {
    pointer-events: none;
    border-bottom: 3px solid darkcyan;
    box-shadow: 0 0 15px cyan;
    background-color: rgb(185, 253, 253);
  }
  .displayinformation0 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .subtweetname {
    color: darkcyan;
    margin-right: auto;
    margin-bottom: 1vh;
    font-size: 3.5vmin;
    font-weight: 600;
  }
  #overlay {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    z-index: 0;
  }
  .loading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    background-color: rgba(25, 31, 38, 255);
    color: white;
  }
  .disappear {
    animation: vanish 1s forwards;
  }
  .popups {
    position: fixed;
    top: 0vh;
    width: 40vw;
    height: 50vh;
    border: 2px solid black;
  }
  @keyframes vanish {
    100% {
      opacity: 0;
      visibility: hidden;
    }
  }
  .displayinformation1 {
    border: 2px solid black;
    position: relative;
    /* border: 2px solid black; */
    width: 60%;
    /* height: 90vh; */
    top: 15vh;
    left: -25%;
    margin: auto;
  }
}
